<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>csv2xlsx_fastapi</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="file:///E:/program/webapp/csv2xlsx/react_fastapi/static/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7/css/materialdesignicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/plotly.js-basic-dist-min@2/plotly-basic.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/bignumber.js@9/bignumber.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/idb-keyval@6/dist/umd.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar>
                <v-app-bar-title>
                    csv2xlsx_fastapi
                </v-app-bar-title>
            </v-app-bar>
            <v-main>
                <!--グラフ、データ入力-->
                <v-sheet class="mx-10 my-5">
                    <v-row>
                        <!--グラフブロック-->
                        <v-col>
                            <v-row>
                                <v-col>
                                    <div id="graph"></div>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <div class="d-flex justify-space-between">
                                        <v-btn id="delete" color="red-accent-2" variant="flat"
                                            prepend-icon="mdi-file-document-remove" size="x-large" @click="deleteSheet"
                                            :disabled="disabledDelete()">シート消去</v-btn>
                                        <span id="indicator_block">
                                            <button type="button" v-for="n in sheetDataArr.length" :key="n"
                                                class="indicator" :disabled="n-1 === sheetIndex"
                                                @click="numpush(n-1)"></button>
                                        </span>
                                        <v-btn id="add_sheet" color="teal-lighten-2" variant="flat"
                                            prepend-icon="mdi-file-document-plus" size="x-large" @click="addSheet"
                                            :disabled="disabledAdd_sheet()">シート追加</v-btn>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-col>
                        <!--データ入力ブロック-->
                        <v-col>
                            <!--ドロップダウン-->
                            <v-row dense>
                                <v-col cols="6">
                                    <v-select label="P波データ" :items="['0002','0004']" :model-value="sheetData.num.p"
                                        @update:model-value="changeNum($event, 'p')" variant="outlined"></v-select>
                                </v-col>
                                <v-col cols="6">
                                    <v-select label="S波データ" :items="['0002','0004']" :model-value="sheetData.num.s"
                                        @update:model-value="changeNum($event, 's')" variant="outlined"></v-select>
                                </v-col>
                            </v-row>
                            <!--供試体高さ-->
                            <v-text-field class="mb-2" label="供試体高さ" type="number" suffix="[cm]" variant="outlined"
                                :rules="[textRequired]" v-model="sheetData.selected.spe_height"
                                @update:model-value="spe_heightInput"></v-text-field>
                            <!--P波入力-->
                            <div class="mb-5">
                                <v-text-field class="mb-2" label="P波の初期補正値" type="number" suffix="[s]"
                                    variant="outlined" :rules="[textRequired]" v-model="sheetData.selected.init_t.p"
                                    @update:model-value="init_tInput('p')"></v-text-field>
                                <p>P in t: <span v-text="makePrefix(sheetData.selected.in_t.p)"></span></p>
                                <p>P out t: <span v-text="makePrefix(sheetData.selected.out_t.p)"></span></p>
                                <p>P Δt: <span v-text="makePrefix(sheetData.selected.delta_t.p)"></span></p>
                                <p>P V: <span v-text="makePrefix(sheetData.selected.v.p, 'm/s')"></span></p>
                            </div>
                            <!--S波入力-->
                            <div class="mb-5">
                                <v-text-field class="mb-2" label="S波の初期補正値" type="number" suffix="[s]"
                                    variant="outlined" :rules="[textRequired]" v-model="sheetData.selected.init_t.s"
                                    @update:model-value="init_tInput('s')"></v-text-field>
                                <p>S in t: <span v-text="makePrefix(sheetData.selected.in_t.s)"></span></p>
                                <p>S out t: <span v-text="makePrefix(sheetData.selected.out_t.s)"></span></p>
                                <p>S Δt: <span v-text="makePrefix(sheetData.selected.delta_t.s)"></span></p>
                                <p>S V: <span v-text="makePrefix(sheetData.selected.v.s, 'm/s')"></span></p>
                            </div>
                            <!--ポアソン比-->
                            <div class="mb-5">
                                ポアソン比: <span v-text="sheetData.selected.poi"></span>
                            </div>
                            <!--A1入力-->
                            <v-text-field label="シートのA1に入れる情報" variant="outlined" hide-details="true"
                                v-model="sheetData.a1"></v-text-field>
                            <hr class="my-5">
                            <!--ファイル名、保存ボタン-->
                            <div class=" d-flex justify-space-between">
                                <v-text-field id="save_file_name" label="保存ファイル名" type="text" suffix=".xlsx"
                                    variant="outlined" :rules="[textRequired]"></v-text-field>
                                <v-btn class="ml-2" color="teal-lighten-2" variant="flat" prepend-icon="mdi-download"
                                    size="x-large" @click="saveXlsx" :loading="isSavePushed">保存</v-btn>
                            </div>
                        </v-col>
                    </v-row>
                </v-sheet>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3/dist/vuetify.min.js"></script>
    <script src="file:///E:/program/webapp/csv2xlsx/react_fastapi/static/index.js"></script>
</body>

</html>
