.indicator {
    cursor: pointer;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 10%;
    background-color: #55b9af;
    outline: solid 0.25em #55b9af;
    outline-offset: -0.1em;
    margin-inline: 0.7em;
    transition: 150ms;
}

.indicator:hover {
    background-color: #0000;
}

.indicator:disabled {
    cursor: default;
    background-color: #55b9af;
    outline-offset: 0.4em;
}
